In [17]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry

csv-files have a special encoding: charset=us-ascii

This can be determined with the following shell commands:
file -i "_data/a557275f-4c30-47fd-a991-b3eb61a3ad80_Series - Metadata.csv"
file -i "_data/a557275f-4c30-47fd-a991-b3eb61a3ad80_Data.csv"

In [8]:
# Read data and meta data
data_pdf = pd.read_csv('_data/a557275f-4c30-47fd-a991-b3eb61a3ad80_Data.csv', encoding='us-ascii')
# meta_data_pdf = pd.read_csv('_data/a557275f-4c30-47fd-a991-b3eb61a3ad80_Series - Metadata.csv', encoding='UTF-8')

In [15]:
data_pdf.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,26.1,27.6,28.8,30.3,31.4,32.6,33.8,34.9,36.1,..
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,89.5,71.5,97.7,97.7,93.4,97.7,97.7,97.7,85.3,..
2,Afghanistan,AFG,"Educational attainment, at least Bachelor's or...",SE.TER.CUAT.BA.ZS,..,..,..,..,..,..,...,1.91133177280426,..,..,5.26141691207886,..,..,4.32343006134033,3.0699999332428,3.98425006866455,..
3,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,9.52887821,10.10534763,11.81859016,12.62081718,14.20841885,14.83131981,15.53361416,21.82794952,..,..
4,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,625.054941813938,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,415.707417059086

In [14]:
data_pdf.tail()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
14630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14633,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14634,Last Updated: 01/28/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_pdf.describe()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
count,14632,14630,14630,14630,14630,14630,14630,14630,14630,14630,...,14630,14630,14630,14630,14630,14630,14630,14630,14630,14630
unique,268,266,55,55,1548,2252,2289,2326,2342,2463,...,10240,9610,9209,9358,9148,9173,9049,8917,7005,4949
top,World,WLD,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,55,55,266,266,12758,12291,12239,12212,12189,11809,...,3699,4356,4784,4635,4855,4836,4990,5117,7103,9570

In [11]:
data_pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14635 entries, 0 to 14634
Data columns (total 68 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   14632 non-null  object
 1   Country Code   14630 non-null  object
 2   Series Name    14630 non-null  object
 3   Series Code    14630 non-null  object
 4   1960 [YR1960]  14630 non-null  object
 5   1961 [YR1961]  14630 non-null  object
 6   1962 [YR1962]  14630 non-null  object
 7   1963 [YR1963]  14630 non-null  object
 8   1964 [YR1964]  14630 non-null  object
 9   1965 [YR1965]  14630 non-null  object
 10  1966 [YR1966]  14630 non-null  object
 11  1967 [YR1967]  14630 non-null  object
 12  1968 [YR1968]  14630 non-null  object
 13  1969 [YR1969]  14630 non-null  object
 14  1970 [YR1970]  14630 non-null  object
 15  1971 [YR1971]  14630 non-null  object
 16  1972 [YR1972]  14630 non-null  object
 17  1973 [YR1973]  14630 non-null  object
 18  1974 [YR1974]  14630 non-null  object
 19  1975 [YR1975]  14630 non-null  object
 20  1976 [YR1976]  14630 non-null  object
 21  1977 [YR1977]  14630 non-null  object
 22  1978 [YR1978]  14630 non-null  object
 23  1979 [YR1979]  14630 non-null  object
 24  1980 [YR1980]  14630 non-null  object
 25  1981 [YR1981]  14630 non-null  object
 26  1982 [YR1982]  14630 non-null  object
 27  1983 [YR1983]  14630 non-null  object
 28  1984 [YR1984]  14630 non-null  object
 29  1985 [YR1985]  14630 non-null  object
 30  1986 [YR1986]  14630 non-null  object
 31  1987 [YR1987]  14630 non-null  object
 32  1988 [YR1988]  14630 non-null  object
 33  1989 [YR1989]  14630 non-null  object
 34  1990 [YR1990]  14630 non-null  object
 35  1991 [YR1991]  14630 non-null  object
 36  1992 [YR1992]  14630 non-null  object
 37  1993 [YR1993]  14630 non-null  object
 38  1994 [YR1994]  14630 non-null  object
 39  1995 [YR1995]  14630 non-null  object
 40  1996 [YR1996]  14630 non-null  object
 41  1997 [YR1997]  14630 non-null  object
 42  1998 [YR1998]  14630 non-null  object
 43  1999 [YR1999]  14630 non-null  object
 44  2000 [YR2000]  14630 non-null  object
 45  2001 [YR2001]  14630 non-null  object
 46  2002 [YR2002]  14630 non-null  object
 47  2003 [YR2003]  14630 non-null  object
 48  2004 [YR2004]  14630 non-null  object
 49  2005 [YR2005]  14630 non-null  object
 50  2006 [YR2006]  14630 non-null  object
 51  2007 [YR2007]  14630 non-null  object
 52  2008 [YR2008]  14630 non-null  object
 53  2009 [YR2009]  14630 non-null  object
 54  2010 [YR2010]  14630 non-null  object
 55  2011 [YR2011]  14630 non-null  object
 56  2012 [YR2012]  14630 non-null  object
 57  2013 [YR2013]  14630 non-null  object
 58  2014 [YR2014]  14630 non-null  object
 59  2015 [YR2015]  14630 non-null  object
 60  2016 [YR2016]  14630 non-null  object
 61  2017 [YR2017]  14630 non-null  object
 62  2018 [YR2018]  14630 non-null  object
 63  2019 [YR2019]  14630 non-null  object
 64  2020 [YR2020]  14630 non-null  object
 65  2021 [YR2021]  14630 non-null  object
 66  2022 [YR2022]  14630 non-null  object
 67  2023 [YR2023]  14630 non-null  object
dtypes: object(68)
memory usage: 7.6+ MB

# Extract the Countries

Oviously there are also regions reflected in the data and not only countries. Added the pycountry package to extract countries from the dataframe.

In [26]:
# Extract alpha-3 country codes
alpha_3_codes = [country.alpha_3 for country in pycountry.countries]

len(alpha_3_codes)

249

In [27]:
data_onlycountries_pdf = data_pdf[data_pdf['Country Code'].isin(alpha_3_codes)]

In [29]:
data_onlycountries_pdf.tail()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
11930,Zimbabwe,ZWE,"Manufacturing, value added (current US$)",NV.IND.MANF.CD,..,..,..,..,..,209192400,...,2454635000,2373335400,2382828800,7164195548.10914,4671914037.58402,3657622544.55152,4217343496.8578,3389519279.73431,6732872365.00864,5788328417.10562
11931,Zimbabwe,ZWE,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,..,..,..,..,..,..,...,9.23250564334086,9.19397119843788,7.36304750154226,5.54235026041667,5.60709617180205,5.50461956521739,6.87233241638917,7.72203273299565,4.89671559385355,1.38052733984895
11932,Zimbabwe,ZWE,Military expenditure (current LCU),MS.MIL.XPND.CN,..,..,..,..,12650000,15600000,...,368100000,376677000,358065000,340522000,420364000,1367347500,11866800000,43129020000,112458460000,326238490000
11933,Zimbabwe,ZWE,Military expenditure (current USD),MS.MIL.XPND.CD,..,..,..,..,12650000,15600000,...,368100000,376677000,358065000,340522000,420364000,546939000,242179591.836735,473945274.725275,332717337.278107,870433537.886873
11934,Zimbabwe,ZWE,Mobile cellular subscriptions,IT.CEL.SETS,0,..,..,..,..,0,...,11800000,12800000,12900000,14100000,12900000,13200000,13200000,14300000,14300000,15000000